html, body{
    position: relative;
}

footer{
    position: absolute;
    min-height: 3px;
    /*left: 0;*/
    /*right: 0;*/
    width:100%;
    background: red;
    bottom: 0;
}

#content{
    padding-bottom: 50px;
}